.menu {
  width: 200px;
  list-style-type: none;
  visibility: hidden;
}

.menuItem {
  height: 40px;
  margin: 0 5px;
  cursor: pointer;
  text-align: left;
}

.menu-icon {
  width: 100%;
  height: 100%;
}

.icon_container {
  width: 50px;
  height: 20px;
  background-color: blue;
  cursor: pointer;
}

.menu.show-menu {
  visibility: visible;
}
